<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <% if (isLoggedIn) { %>
    <%- include('../partials/header'); %>
    <% } else { %>
    <%- include('../partials/header_noauth'); %>
    <% } %>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 content">
                <h1>Forgot the password?</h1>

                <p>Put your email below and we will send you the link to the page, where you can set a new password.
                    Don't forget to check the spam folder!</p>

                <form id="forgotpassword" class="forgotpassword">
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                            placeholder="user@example.com">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/forgotpassword.js"></script>
</body>

</html>