<!DOCTYPE html>

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <% if (isLoggedIn) { %>
    <%- include('../partials/header'); %>
    <% } else { %>
    <%- include('../partials/header_noauth'); %>
    <% } %>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 content">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <p class="title">Guess Where I Am</p>
                    </div>
                    <br>
                    <div class="col-4" style="max-width:1000px; align-self: center;">
                        <img src="/media/lost-dude.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 content">
                <h1 class="section-header">FAQ</h1>
                <p><strong>What is this?</strong></p>
                <p>This is a game that uses <a href="http://www.geoguessr.com">Geoguessr</a> as inspiration.</p>
                <p><strong>How does this work?</strong></p>
                <p>This site uses Leaflet open-source JavaScript library to help you make your guess about your
                    localisation and Google Street View API to help you explore the world.</p>
                <p><strong>Is this safe?</strong></p>
                <p>Your email and password won't be used for anything other than their stated purpose: namely, for each
                    individual's games on this site. Apart from your email and amazing nickname, no personal details are stored on our
                    side. Moreover, passwords are bcrypted.</p>
                <h4>Stay in and have fun exploring the world!</h4>
            </div>
        </div>
    </div>
</body>

</html>